In [1]:
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import pandas as pd

In [2]:
cases = 'CasesData.csv'
cases_df =  pd.read_csv(cases)
cases_df.head()

,Name,2008_Cases,2009_Cases,2010_Cases,2011_Cases,2012_Cases,2013_Cases,2014_Cases,2015_Cases,2016_Cases,2017_Cases,2018_Cases
0,Alabama,709,695,681,683,666,635,669,663,663,651,572
1,Alaska,39,21,35,24,28,23,38,25,37,34,20
2,Arizona,679,642,619,563,620,689,741,690,714,725,806
3,Arkansas,238,280,234,241,247,262,312,273,312,287,281
4,California,5719,5417,5272,5044,5050,4711,5169,5108,5172,4766,4398

In [3]:
years = ["2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018"]
urls = ['https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2008-01-01#','https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2009-01-01#','https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2010-01-01#','https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2011-01-01#','https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2013-01-01#','https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2014-01-01#','https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2015-01-01#','https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2016-01-01#','https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2017-01-01#','https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2018-01-01#']

In [4]:
for year in years:
    if year != "2018":
        url = f'https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od={year}-01-01#'
        print(url)
        tables = pd.read_html(url)
        pop_df = pd.DataFrame(tables[0])
        pop_df = pop_df.iloc[:, [1,2]]
        pop_df.columns = pop_df.columns.droplevel(0)
        pop_df.drop(pop_df[pop_df['Name'] == "FRB-St. Louis District States"].index, inplace=True)
        pop_df[year] *= 1000
        cases_df = pd.merge(cases_df, pop_df, how='left', on='Name', sort=False)
        cases_df[f"{year} HIV Rate"] = cases_df[f"{year}_Cases"] / cases_df[year]
        cases_df.drop([f"{year}_Cases", year], axis=1, inplace=True)
    else:
        url = f'https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od={year}-01-01#'
        print(url)
        tables = pd.read_html(url)
        pop_df = pd.DataFrame(tables[0])
        pop_df = pop_df.iloc[:, [1,3]]
        pop_df.rename(columns={"Value": "2018"}, inplace=True)
        pop_df.columns = pop_df.columns.droplevel(0)
        pop_df.drop(pop_df[pop_df['Name'] == "FRB-St. Louis District States"].index, inplace=True)
        pop_df["2018"] = pop_df["2018"].astype(float)
        pop_df["Name"] = pop_df["Name"].astype(str)
        pop_df["2018"] *= 1000
        cases_df = pd.merge(cases_df, pop_df, how='left', on='Name', sort=False)
        cases_df[f"{year} HIV Rate"] = cases_df[f"{year}_Cases"] / cases_df[year]
        cases_df.drop([f"{year}_Cases", year], axis=1, inplace=True)

https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2008-01-01#
https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2009-01-01#
https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2010-01-01#
https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2011-01-01#
https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2012-01-01#
https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2013-01-01#
https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2014-01-01#
https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2015-01-01#
https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2016-01-01#
https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2017-01-01#
https://fred.stlouisfed.org/release/tables?rid=118&eid=259194&od=2018-01-01#

In [ ]:
cases_df.head()
#print(pop_df)

In [ ]:
cases_df['New HIV Case Rate 2008-2012'] = cases_df[['2008 HIV Rate','2009 HIV Rate','2010 HIV Rate','2011 HIV Rate','2012 HIV Rate']].mean(axis=1)
cases_df['New HIV Case Rate 2013-2018'] = cases_df[['2013 HIV Rate','2014 HIV Rate','2015 HIV Rate','2016 HIV Rate','2017 HIV Rate','2018 HIV Rate']].mean(axis=1)
cases_df = cases_df.drop(['2008 HIV Rate','2009 HIV Rate','2010 HIV Rate','2011 HIV Rate','2012 HIV Rate','2013 HIV Rate','2014 HIV Rate','2015 HIV Rate','2016 HIV Rate','2017 HIV Rate','2018 HIV Rate'], axis=1)
cases_df.head()

In [ ]:
cases_df["New HIV Case Rate Variance"] = cases_df["New HIV Case Rate 2008-2012"] - cases_df["New HIV Case Rate 2013-2018"]
cases_df.head()

In [ ]:
cases_df.dtypes

In [ ]:
cases_df['New HIV Case Rate 2008-2012'] = cases_df['New HIV Case Rate 2008-2012'].apply(lambda x: x*100000)
cases_df['New HIV Case Rate 2013-2018'] = cases_df['New HIV Case Rate 2013-2018'].apply(lambda x: x*100000)
cases_df['New HIV Case Rate Variance'] = cases_df['New HIV Case Rate Variance'].apply(lambda x: x*100000)

# new_case_df = case_df.loc['New HIV Case Rate 2008-2012', 'New HIV Case Rate 2013-2018', 'New HIV Case Rate Variance'] *= 100000
# new_cases_df = cases_df.select_dtypes(include=['float64']).mul(100000)
# new_cases_df = cases_df.mul(100000)

cases_df.head()

In [ ]:
cases_df.to_csv("New_HIV_Case_Rates.csv", index=False)